html,
body,
div,
h1,
p,
a,
video {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.content {
    position: relative;
    z-index: 2;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

body {
    font-family: Comfortaa-Regular !important;
}



.full-with
{
    width: 100%;
}

.stopfade {
    opacity: .5;
}
.opac {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.noback {
    background-color: transparent;
}

/*nagłówki*/
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: rgb(179,142,80);
    text-align:center;
}

/*Czcionki*/
@font-face {
    font-family: Sensation;
    src: url('/fonts/SweetSensation.ttf');
}
@font-face {
    font-family: 'NoemieScript';
    src: url('../fonts/NoemieScript.otf') format('opentype');
}



/*Contact*/
#contact {
    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;
}

.contact
{
    font-size: 1.5rem;
}
.contact a
{
    text-decoration: none;
    color: white;
}

.btn-default {
    background-color: rgba(179,142,80,0.8);
    border-color: rgba(179,142,80,0.8);
    color: white;
    font: bold;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    video {
        display: none;
    }
    body {
        background: url('../../media/bkg.jpg') repeat;
        background-size: cover;
    }
}

@media (min-width: 1000px)
{
    .contact-align {
        text-align: center !important;
    }
}