@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

body {
    font-family: Comfortaa-Regular !important;
}



.full-with
{
    width: 100%;
}

.stopfade {
    opacity: .5;
}
.opac {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.noback {
    background-color: transparent;
}

/*nagłówki*/
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: rgb(179,142,80);
    text-align:center;
}

/*Czcionki*/
@font-face {
    font-family: Sensation;
    src: url('/fonts/SweetSensation.ttf');
}
@font-face {
    font-family: 'NoemieScript';
    src: url('../fonts/NoemieScript.otf') format('opentype');
}



/*Contact*/
#contact {
    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;
}

.contact
{
    font-size: 1.5rem;
}
.contact a
{
    text-decoration: none;
    color: white;
}

.btn-default {
    background-color: rgba(179,142,80,0.8);
    border-color: rgba(179,142,80,0.8);
    color: white;
    font: bold;
}




/*video*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../../img/bkg_photo.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

