/*logo*/
.logo_strony {
    /*font-family: Sensation;
    font-size: 200%;
    font-weight: 100;
    background-color: rgba(0,0,0,0.8);
    color: rgb(179,142,80);*/
    padding: 10px;
    width: 100%;
    margin: 2rem;
    float: right;
    /*text-align: center;
    border: 10px;
    border-color: rgb(179,142,80);
    border-radius: 4px;
    border-style: solid;*/
    min-width: 120px;
}
