/*panele*/
/*
.panel {
    background: transparent;
}

.panel-body {
    background: rgba(255, 255, 255, 0.1);
    padding: 2% 5%;
    height: 150px;
}

.panel-body-big {
    height: 450px;
}

.panel-body-small {
    height: 50px;
}

.panel-body-control {
    height: 300px;
}

.panel-heading {
    background: rgba(255, 255, 255, 0.2);
    padding: 2% 5%;
}

.panel-footer {
    background: rgba(255, 255, 255, 0.2);
    padding: 2% 5%;
}

.panel-body li {
    padding: 2%;
}
*/
